<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/animate.min.css">
    <title>recimania</title>
</head>
<body>
    <div class="section_1_page1">
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <h1><a href="/"><img src="/images/logo.png" width="80px">reci<span>mania</span></a></h1>
                    </div>

                    <nav class="">
                        <ul>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div class="section_2_page1">
        <div class="story">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 info">
                        <h5 class="wow fadeIn">READ OUR STORY</h5>
                        <p class="wow fadeIn">Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi Fusce hendrerit </p>
                        <button class="wow fadeIn"><a href="/search">Explore</a></button>
                    </div>

                    <div class=" col-lg-4 img_slider">
                        <img class="img-circle wow fadeIn" src="/images/about-image.jpg" width="150%">
                    </div>

                    <div class=" col-lg-4 myLinks">
                        <div class="facebook wow fadeIn"><a href=""><i class="fa fa-facebook-square fa-2x"></i></a></div>
                        <div class="instagram wow fadeIn"><a href=""><i class="fa fa-instagram fa-2x"></i></a></div>
                        <div class="twitter wow fadeIn"><a href="">Twitter</a></div>
                    </div>

                </div>
        </div>
    </div>


    <div class="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6  question_1 wow fadeIn">
                    <h5>FAQ</h5>
                    <p>What kind of recipe can i get from Recimania?</p>
                    <p>Proin scelerisque risus et ipsum semper molestie sed in nisi Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et</p>
                </div>

                <div class="col-lg-6  question_2   wow fadeIn" >
                    <p>How reliable is it?</p>
                    <p>Fusce hendrerit malesuada lacinia. Donec semper semper Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper  Proin scelerisque risus et ipsum semper</p>
                </div>

            </div>
        </div>
    </div>


    {{!-- <div class="section_3_page1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="marquee">
                        <ul class="marquee-content"> 
                            <li><img src="/images/Slider/about-img1.png"></li>
                            <li><img src="/images/Slider/banner-image.png"></li>
                            <li><img src="/images/slider/bread-img.png"></li>
                            <li><img src="/images/Slider/burger_slide.png"></li>
                            <li><img src="/images/slider/cupcake-img.png"></li>

                            <li><img src="/images/Slider/about-img1.png"></li>
                            <li><img src="/images/Slider/banner-image.png"></li>
                            <li><img src="/images/slider/bread-img.png"></li>
                            <li><img src="/images/Slider/burger_slide.png"></li>
                        </ul>
                    </div>
                </div>  
            </div>
        </div>
    </div> --}}

    {{!-- <script src="/boostrap/js/boostrap.min.js"></script> --}}
    {{!-- <script src="/js/script.js"></script> --}}
        <script src="/bootstrap/js/wow.min.js"></script>
        <script>
             new WOW().init();
        </script>
</body>
</html>