<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/animate.min.css">
    <title>recimania</title>
</head>
<body>
    <div class="section_1">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 logo">
                        <h1><a href="/">reci<span>mania</span></a></h1>
                    </div>

                    <nav class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <ul>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div class="section_2">
        <div class="story">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4  info">
                        <h5 class="wow fadeInLeft">READ OUR STORY</h5>
                            <p class="wow fadeInLeft">Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi</p>
                            <p class="wow fadeInLeft">Fusce hendrerit malesuada lacinia. Donec semper semper sem vitae malesuada. Proin scelerisque risus et ipsum semper molestie sed in nisi</p>
                        <button class="wow fadeIn"><a href="/search">Explore</a></button>
                    </div>

                    <div class="col-lg-4 col-md-4  img_slider">
                        <img class="img-circle wow fadeIn" src="/images/about-image.jpg" width="180%">
                    </div>

                    <div class="col-lg-4 col-md-4 myLinks">
                        <div class="facebook wow fadeIn"><a href="">Facebook</a></div>
                        <div class="instagram wow fadeIn"><a href="">Instagram</a></div>
                        <div class="twitter wow fadeIn"><a href="">Twitter</a></div>
                    </div>

                </div>
        </div>
    </div>

    {{!-- <script src="/boostrap/js/boostrap.min.js"></script> --}}
    {{!-- <script src="/js/script.js"></script> --}}
        <script src="/bootstrap/js/wow.min.js"></script>
        <script>
             new WOW().init();
        </script>
</body>
</html>