<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/animate.min.css">
    <title>Recimania</title>
</head>
<body>
    <div class="section_1_page1">
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <h1><a href="/"><img src="/images/logo.png" width="80px">Reci<span>mania</span></a></h1>
                    </div>

                    <nav class="nav">
                        <ul>
                            {{!-- <li><a href="/contact">Contact</a></li> --}}
                            <li><a href="/search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>

    <div class="section_2_page1">
        <div class="story">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 info">
                        <h1 class="wow fadeIn">RECIMANIA</h1>
                        <p class="text wow fadeIn">The recipe planet</p>

                        <div class="FAQ">
                            
                            <div class="row">
                                <div class="col-lg-6  question_1 wow fadeIn">
                                    <h5>About</h5>
                                    <p class="about">Recimania is a recipe application that can help you when preparing meals and increasing food quality</p>
                                </div>

                                <div class="col-lg-6  question_2   wow fadeIn" >
                                    <p>This application is going to give you the advantage of  preparing your favorite dish</p>
                                </div>
                                <a style="color:#ce3232" href="https://youtube/food"><i class="fa fa-youtube-play youtube wow fadeIn"></i></a>
                                <a style="color:#ce3232" href="https://spotify/food"><i class="fa fa-spotify spotify wow fadeIn"></i></a>
                            </div>
                          
                        </div>

                    </div>

                    <div class=" col-lg-4 img_slider">
                        <img class="img-circle wow fadeIn" src="/images/about-image.jpg" width="200%">
                    </div>

                    <div class=" col-lg-4 myLinks">
                        <div class="facebook wow fadeIn"><a href="https://facebook/stephen nonso"><i class="fa fa-facebook-square fa-2x"></i></a></div>
                        <div class="instagram wow fadeIn"><a href="https://Instagram/tech_keed"><i class="fa fa-instagram fa-2x"></i></a></div>
                        <div class="twitter wow fadeIn"><a href="https://twitter/stephen nonso"><i class="fa fa-twitter fa-2x"></i></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 footer01">
                                <h1>Stephen</h1>
                                <p>Web developer</p>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="col-lg-4  footer01">
                                <h1>Ray</h1>
                                <p>Software testers</p>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-twitter"></i>
                            </div>

                            <div class="col-lg-4 footer01">
                                <h1>DoubleSouth</h1>
                                <p>Web designer</p>
                                <i class="fa fa-facebook-square"></i>
                                <i class="fa fa-instagram"></i>
                                <i class="fa fa-twitter"></i>
                                <i class="fa fa-youtube-play"></i>
                        </div>
                    </div>
                    </div>
                </div>

                <div class="col-lg-5">
                    <img src="/images/Slider/burger_slide.png" width="300px">
                </div>
            </div>
        </div>
    </div>
 

    {{!-- <script src="/js/script.js"></script> --}}
    <script src="/bootstrap/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>
</body>
</html>