<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recimania</title>
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/css/animate.min.css">
</head>
<body>
    <div class="section_1">
        <header>
            <div class="container">
                <div class="row">
                    <div class="logo">
                        <h1><a href="/"><img src="/images/logo.png" width="80px">reci<span>mania</span></a></h1>
                    </div>

                    <nav class="">
                        <ul>
                            {{!-- <li><a href="/contact">Contact</a></li> --}}
                            <li><a href="/search"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    </div>


    <div class="third_page">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    <form id="form">
                        <input id="search_bar" class="name" type="text" placeholder="Search for your favorites recipes">
                        <button><i class="fa fa-search"></i></button>
                    </form>
                </div>

                <div class="col-lg-3 col-md-3 myLinks  wow fadeIn">
                        <div class="facebook wow fadeIn"><a href="https://web.facebook.com/"><i class="fa fa-facebook-square fa-2x"></i></a></div>
                        <div class="instagram wow fadeIn"><a href="https://www.instagram.com/"><i class="fa fa-instagram fa-2x"></i></a></div>
                        <div class="twitter wow fadeIn"><a href="https://twitter.com/home"><i class="fa fa-twitter fa-2x"></i></a></div>
                </div>
            </div>
        </div>

        <div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10">
                        <div id="all_results">
                            <h3 id="message_1"></h3>
                            <h4 id="message_2"></h4>
                            {{!-- <p id="search_result"></p> --}}

                            <a><Img id="imageLink" target="_blank"></a><br>
                            
                            <h4 id="location"></h4>
                            <p id="location_result"></p>

                            <h4 id="summary"></h4>
                            <p id="summary_result"></p>

                            <h4 id="ingredients"></h4>
                            <p id="ingredients_result0"></p>
                            <p id="ingredients_result1"></p>
                            <p id="ingredients_result2"></p>
                            <p id="ingredients_result3"></p>
                            <p id="ingredients_result4"></p>
                            <p id="ingredients_result5"></p>
                            <p id="ingredients_result6"></p>
                            <p id="ingredients_result7"></p>
                            <p id="ingredients_result8"></p>
                            <p id="ingredients_result9"></p>
                            <p id="ingredients_result10"></p>
                            <p id="ingredients_result11"></p>

                            <h4 id="procedure"></h4>
                            <p id="procedure_result0"></p>
                            <p id="procedure_result1"></p>
                            <p id="procedure_result2"></p>
                            <p id="procedure_result3"></p>
                            <p id="procedure_result4"></p>
                            <p id="procedure_result5"></p>
                            <p id="procedure_result6"></p>
                            <p id="procedure_result7"></p>
                            <p id="procedure_result8"></p>
                            <p id="procedure_result9"></p>
                            <p id="procedure_result10"></p>
                            <p id="procedure_result11"></p>


                            
                            <a id="videoLink" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>

    <script src="/js/script.js"></script>
    <script src="/bootstrap/js/wow.min.js"></script>
    <script>
        new WOW().init();
    </script>

</body>
</html>