*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f9f9f9;
  font-family: 'Segoe UI'
}


/*SECTION_1*/

.section_1{
  margin: 50px 0 50px 0;
}

.section_1 span{
  color: #ce3232;
}

.logo h1 a{
  text-decoration: none;
  color: #000;
}

nav ul{
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul  li a{
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Segoe UI';
} 

nav ul li{
  float: left;
}

li a:hover { color: #ce3232;text-decoration: none;} 
.logo h1 a:hover{ color: #ce3232;text-decoration: none;}

/*SECTION_2*/

.section_2 .story{
  padding: 10px;
}

.info h5{
  margin: 20% 0 10px 0;
  font-family: 'Segoe UI';
  color: #bfbdbd;;
}


.info p{
  text-align: justify;
  font-family: 'Segoe UI'
}


.info button{
  margin: 30px 0 0 0;
  padding: 5px 20px; 
  background-color:  #f9f9f9;
  border: 1px solid black;
}

.info button a{
  text-decoration: none;
  color:#000
}

.info button:hover{
  /* background-color: #ce3232; */
  color: #ce3232;
  border: 1px solid #ce3232;
}

/*second grid*/
.img_slider{
  z-index: 0;
}


/*third grid*/
.mylink{
  padding: 0;
}

.facebook a{
  transform: rotate(90deg);
  float: right;
  position: absolute;
  right:0;
  top: 50px;
  font-family: 'Segoe UI';
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.instagram a{
  transform: rotate(90deg);
  float: right;
  position: absolute;
  right:0;
  top: 200px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.twitter a{
  transform: rotate(90deg);
  float: right;
  position: absolute;
  right: 10px;
  top: 350px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.facebook a:hover, .instagram a:hover, .twitter a:hover{
  color: #ce3232;
  text-decoration: none;
}

/*SECOND_PAGE*/

.second_page h3{
  color: #000;
  margin: 10px 0 10px 0;
}

.second_page .name, .email, .subject, textarea{
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 5px;
}

.second_page button{
  margin: 30px 0 0 0;
  padding: 5px 20px; 
  background-color:  #f9f9f9;
  border: 1px solid black;
}

.second_page button:hover{
  background-color: #ce3232;
  color: #f9f9f9;
  border: thin;
}

.second_page button:active{
  transform: translateY(2px);
}

/*THIRD_PAGE*/

form input{
  width: 70%;
  margin: 5px 0 5px 100px;
  padding: 5px;
}

form button{
  margin: 30px 0 0 0;
  padding: 5px 20px; 
  background-color:  #f9f9f9;
  border: 1px solid black;
}

.text{
  margin: 100px 0 0 100px;

}

form button:hover{
  background-color: #ce3232;
  color: #f9f9f9;
  border: thin;
}

form button:focus{
  transform: translateY(2px);
}