*{
  margin: 0;
  padding: 0;
}


/*SECTION_1 PAGE 1*/

.section_1_page1{
  margin: 50px 0 50px 0;
}

.section_1_page1 span{
  color: #ce3232;
}

.logo{
  float: left;
  /* width: 50%; */
}

.logo h1 a{
  text-decoration: none;
  color: #000;
}

.nav{
  float: right;
  position: absolute;
  left: 1200px;
}

nav ul{
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul  li a{
  display: inline-block;
  color: #000;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
  font-family: 'Segoe UI';
}

nav ul li{
  float: left;
}

li a:hover { color: #ce3232;text-decoration: none;} 
.logo h1 a:hover{ color: #ce3232;text-decoration: none;}

/*SECTION_2*/

.section_2_page1 .story{
  padding: 10px;
}

.info{
  margin-top: 5px !important;
}

.info h1{
  margin: 20% 0 0 0;
  font-family: lato;
  font-size: 65px;
  font-weight: 700;
  line-height: 40px;
}


.info p{
  margin: 0 0 0 0;
  font-family: mada;
}

.FAQ{
  margin: 10% 0 0 0;
}

.FAQ h5{
  font-family: 'Segoe UI';
  color: #bfbdbd;
  font-size: 13px;
}

.FAQ p{
  text-align: left;
  font-size: 13px;
}

.FAQ .question_2{
  margin: 6% 0 0 0;
}

.FAQ a i{
  padding: 10px;
}


/*THIRD GRID*/

.mylink{
  padding: 0;
}

.facebook a{
  position: absolute;
  top: 100px;
  right: 0;
  font-family: 'Segoe UI';
  font-size: 14px;
  text-decoration: none;
  color: #000;
  float: right;
}

.instagram a{
  position: absolute;
  top: 200px;
  right: 0; 
  font-size: 14px;
  text-decoration: none;
  display: inline;
  color: #000;
}

.twitter a{
  position: absolute;
  top: 300px;
  right: 10px;
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.facebook a:hover, .instagram a:hover, .twitter a:hover{
  color: #ce3232;
  text-decoration: none;
}


/*FOOTER*/
.footer{
  background-color: #eeeeee;
}

.footer01{
  height: 200px;
  padding: 50px;
  color: #000;
  font-family: fira sans;
}

.footer01 i{
margin: 2px;
}


.footer .col-lg-5{
  padding: 50px;
  position: absolute;
  right:  0;
  top: 520px;
}

@media screen and (max-width: 995px) {
  /*LOGO*/
  .logo{
    float: left;
  }

  .logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 65px;
  }
  /*NAVBAR*/
  
  .nav{
    float: right;
    position: absolute;
    left: 1150px;
    width: 50%;
  }
  
  nav ul{
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  nav ul  li a{
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 50px;
    font-family: 'Segoe UI';
  }

  /*SECTION_2*/

  .info h1{
    position: absolute;
    left: 400px;
  }

  .info .text{
    position: absolute;
    top: 180px;
    left: 400px;
    font-size: 40px;
  }

  .FAQ h5{
    position: absolute;
    top: 250px;
    left: 400px;
    font-size: 50px;
  }
  
  .FAQ h5{
    position: absolute;
    top: 250px;
    left: 300px;
    font-size: 40px;
  }

  .FAQ a i{
    font-size: 40px;
  }

  .question_1 p{
    position: absolute;
    top: 300px;
    left: 300px;
    font-size: 45px;
    width: 100%;
  }

  .question_2 p{
    position: absolute;
    top: 500px;
    left: 300px;
    font-size: 45px;
    width: 100%;
  }
  
  .youtube{
    position: absolute;
    top: 750%;
    left: 350px;
    font-size: 45px;
    width: 100%;
  }
  
  .spotify{
    position: absolute;
    top: 750%;
    left: 300px;
    font-size: 50px;
    width: 100%;
  }

  .img-circle{
    display: block;
    width: 1100px;
  }

  .img_slider{
    position: absolute;
    top: 780px;
    left: 50px;
  }

  .FAQ h5{
    margin: 10px;
  }

  .myLinks{
    position: absolute;
    top: 0;
    left: 500px;
    width: 100px;
  }

  .facebook a i,.instagram a i,.twitter a i{
    font-size: 50px;
  }

  .footer{
    position: absolute;
    top: 115%;
    height: 850px;
    width: 164%;
  }

  .footer01{
    float: left;
    font-size: 40px;
  }

  .col-lg-5 img{
    position: absolute;
    bottom: 20px;
    left: 900px;
    width: 30%;
  }
}
